{% extends "base.html" %} {% load static %} {% block content %}

<body>
    <section class="gile fullscreen align-left">
        <div class="spotlight fullscreen align-left">
            <div dir="rtl" class="flex">

                <img class="image1" src="{% static 'careu/asset.png' %}" />
                <div dir="ltr" class="info">
                    <h1>{{profile.user.username}}'s <br>profile!</h1><br>
                    <h2>{{profile.user.username}} </h2>
                    <br>
                    <img class="profile-img rounded mx-auto d-block float-right" src="{{profile.profile_picture_url}}" height="120">

                    <div id="container" class="text-dark">

                        {{profile.description}}

                    </div>

                </div>

            </div>
            <div class="quotes">
                <h3 style="font-size: 12px;text-align: center;display: inline-block;">“There’s nothing that can stop this man”</h3>
                <h3 style="font-size: 16px;font-weight: bold;display: block;">Adam Levine</h3>
            </div>
            <br>


    </section>

</body>
{% endblock content %}