{% extends "base.html" %} {% load static %} {% block content %}

<body>
    <section class="gile fullscreen align-left">
        <div class="spotlight fullscreen align-left">
            <div dir="rtl" class="flex">
                <img class="image1" src="{% static 'careu/asset.png' %}" />
                <div dir="ltr" class="info">
                    <h1>Making Your <br>World Better!</h1><br>
                    <h2>Register</h2>
                    <br>

                    <div id="container" class="text-light">
                        {% if error %}
                        <p class="text-center p-2 bg-danger rounded-lg">{{error}}</p>
                        {% endif %}
                        <form method="POST" action="{% url 'register_view' %}" class="login-form bg-dark rounded-lg d-flex flex-column justify-content-center p-4">
                            <h3 class="text-center mb-3 text-light">Register Now!</h3>
                            {% csrf_token %} {{register_form}}
                            <button type="submit" id="btn_register" class="btn btn-secondary">Register</button>
                        </form>

                    </div>

                </div>

            </div>
            <div class="quotes">
                <h3 style="font-size: 12px;text-align: center;display: inline-block;">“There’s nothing that can stop this man”</h3>
                <h3 style="font-size: 16px;font-weight: bold;display: block;">Adam Levine</h3>
            </div>
            <br>


    </section>

</body>
{% endblock content %}