{% load static %}
{% url 'home-base' as home %}
{% url 'team-base' as team %}
{% url 'journal-home' as journal %}
{% url 'chat-base' as chat %}
{% url 'login_view' as login %}
{% url 'logout_view' as logout %}



<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

    <!-- materialized form -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
  

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    
    
    <link rel="stylesheet" type="text/css" href="{% static 'careu/main.css' %}"/> 
    <link rel="stylesheet" type="text/css" href="{% static 'careu/fauzi.css' %}"/>
    <link rel="stylesheet/less" type="text/css" href="styles.less" />
    <link rel="manifest" href= "{% static 'cvguenih/manifest.json' %}">
    <link rel="apple-touch-icon" href="icons/Icon-192.png">
    <script src="less.js" type="text/javascript"></script>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>

    
        <title>CareU. </title>
  
    <link href='https://fonts.googleapis.com/css?family=Poppins:bold,normal' rel='stylesheet'>
  <script>
                function topFunction() {
                  window.scrollBy(0, 700);
                }

                function downFunction() {
                  window.scrollBy(0, -700);
                }
        </script>
</head>
<body>
  
    <header style="background-color: white;" class="site-header fixed-top">
      <nav style="background-color: white;align-items: center;" class="navbar navbar-expand-sm fixed-top">
          <div style="align-items: center;" class="container fixed-top">
            <a class="navbar-brand mr-4" href="{% url 'home-base' %}">CareU.</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon icon-bar" ></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link {% if request.path == home %} active {% endif %}" href="{{ home }}">Home</a>
              <a class="nav-item nav-link {% if request.path == team %} active {% endif %}" href="{{ team }}">Our Team</a>
              <a class="nav-item nav-link {% if request.path == journal %} active {% endif %}" href="{{ journal }}">My Journal</a>
              <a class="nav-item nav-link {% if request.path == chat %} active {% endif %}" href="{{ chat }}">Chat Us</a> 
            </div> 
            <div class="navbar-nav mr">
              {% if not request.user.is_authenticated %}
                <a class="nav-item nav-link {% if request.path == login %} active {% endif %}" href="{{ login }}">Login</a>
              {% endif %}
              {% if request.user.is_authenticated %}
              <a class="nav-item nav-link {% if request.path == logout %} active {% endif %}" href="{{ logout }}">Logout</a>
              {% endif %}
            </div> 
          </div>
        </div>
      </nav>
    </header> 
        <div  class="koko">
          {% block content %}{% endblock %}
        </div>   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <a id="myTopBtn" onclick="downFunction()" class="float-btn float-btn-right">
        <i class="fa fa-arrow-up float-icon"></i>
      </a>
      
      <a id="myDownBtn"  onclick="topFunction()" class="float-btn float-btn-left">
        <i class="fa fa-arrow-down float-icon"></i>
      </a>
      <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

<script>
  function myFunction(param1, param2, param3, param4) {
  
  // var url = "/static/"+param2;
  var x = `<img style='width: 30%;height: 30%;' src='/static/${param2}' />`;
  document.getElementById("gambar").innerHTML = x;
  // var z = "";
  // for (i = 0; i < param3.length; i++) { 
  //   z += `<p class='title'>${param3[i].name}</p> <p class='desc'>${param3[i].desc}</p>`;
  // } 
  document.getElementById("symptoms").innerHTML = param3;
  document.getElementById("desctom").innerHTML = param4;
  document.getElementById("exampleModalLongTitle").innerHTML = param1 + " Symptom";
  
}
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
$(document).ready(function(){

  // Initialize materialize data picker
  $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
  $('select').formSelect();

});
</script>
</body>
</html>