{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
<section class="gile fullscreen"> 
    <img src="{% static 'careu/journal.png' %}" />
        
</section>

 



</body>
{% endblock content %}