{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
<section class="gile fullscreen"> 
    <div class="bg fullscreen"></div>
        <div dir="rtl" class="flex">
            
            <div dir="ltr" class="info-team">
                <h1 class="heading">Our Team</h1>
                <br>
                <p class="subheading">Found Here</p>
                <br>
                <img class="image2 fullscreen align-left" src="{% static 'careu/team.png' %}" alt="header"/>
            </div>
            <br>
            <div dir="ltr" class="flex-team-card"> 
                {% for instance in data %}
                <a class="card-team" href="{{ instance.url }}"> 
                    <div id="list-image-team">
                        <img alt="{{ instance.image }}" style="width: 100%;height: 100%;" src= "{% static '' %}{{ instance.image }}" />
                    </div>
                        
                    <p class="title">{{ instance.name }}</p>
                    <p class="desc">{{ instance.npm }}</p> 
                        <div id="container">
                          <button class="learn-more">
                            <span class="circle" aria-hidden="true">
                              <span class="icon arrow"></span>
                            </span>
                            <span class="button-text">Learn More</span>
                          </button> 
                        </div>  
                    
                </a>
                {% endfor %}
            </div>
        </div>
        <br><br><br>
</section>

 



</body>
{% endblock content %}